*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: aliceblue;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.clock{
    display: flex;
    
}

.clock div {
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: whitesmoke;
    opacity: .8;
    color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0 ,0, .3);
}

.clock .text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkslategrey;
}

.clock #ampm {
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: darkslategrey;
}



.datum{
    width: 200px;
    height: 80px;
    background-color: whitesmoke;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
.datum  .text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkslategrey;
    text-align: center;
    color: coral;
}

.datum #datum{
    color: lightsalmon;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0 ,0, .3);
}