* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.text{
    font-size: 32px;
    margin-bottom: 20px;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div {
    padding: 3rem;
    background-color: rgb(9,60,227);
    margin: 0.5rem;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}